/* *{
    margin: 0;
    padding: 0;
} 

*/

/* header start */
/* nav start */
header {
    width: 100%;

    background-color: #FF900E1A;
    padding: 0;
    margin: 0;
    /* background-color: green; */

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .name {
    width: 100%;
    
}
.nav .menu{
    width: 100%;
    
   
}
.nav .menu ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav .menu ul li{
    list-style: none;
    padding-right: 6em;
    
}
.nav .name h1{
    padding-left: 30%;
    color: #131313;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
}
li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}
/* nav end */
.header-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.header-main-container img {
    width: 70%;
    
}
.header-container-1{
    text-align: center;
    padding: 30px 0;
}
.header-container-1 h1{
    font-family: 'work sans', sans-serif;
    font-weight: 500;
    font-size: 35px;
}
.header-container-1 p{
    color: gray;
}
.header-container-1 button {
    width: 13vw;
    height: 9vh;
    background-color: #FF900E;
    color: white;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}
.header-container-2{
    text-align: center;
    padding: 10px 0;
}
/* header end */
/* main section start */
.main-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}
main {
    width: 70%;

}
.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-section .images {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 70vh;
    gap: 10px;
    padding-right: 30px;
}
.first-section .images .image {
    width: 100%;
    height: 100%;
    border-radius:3% ;
}
.first-section .writing{
    padding-left: 5%;
}
h1 .fade {
    font-weight: 500;
    font-family: 'work sans', sans-serif;
    color: #727272;
}
h1 .orange{
    font-weight: 500;
    font-family: 'work sans', sans-serif ;
    color: #FF900E;
}
main .writing h1{
    font-weight: 500;
    font-family: 'work sans', sans-serif ;
    margin-left: 10px;
}
.writing p {
    font-weight: 400;
    color: #727272;
}
.writing button{
    width: 13vw;
    height: 9vh;
    background-color: #FF900E;
    color: white;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    margin-left: 10px;

}
/* main section part-1 end */
.main-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.main-2 main{
    display: flex;
}
.main-2-first-section {
    width: 100%;

}
.main-2-second-section {
    width: 100%;
    background-size: cover;
    position: relative;
}
.main-2-second-section img{
    width: 100%;
    height: 98%;
}
.main-2-second-section button{
    position: absolute;
    background-color: #FF900E;
    color: white;
    font-family: 'Work Sans';
    border: none;
    font-size: 30px;
    width: 35%;
    border-radius: 5px;
    top: 88%;
    left: 0%;

}

.main-2-second-section button small {
    font-size: 15px;

}
    
.main-2-first-section h1 {
    padding-left: 3%;
    font-family: 'Work Sans';
    font-weight: 700;
    border-left: 4px solid #FF900E;

}
.main-2-first-section > p{
    color: #727272;
    margin-bottom: 20px;
}
article h4, p{
    padding: 5px 12px 0px 15px;
    margin: 0;
}
article h4 {
    font-family: 'work sans', sans-serif;
}
article p{
    color: #727272;
}
article {
    margin: 20px;
    padding: 10px;
    box-shadow: 2px 4px 6px 0 gray;
}
/* main section end */
/* some facts section start */
.some-facts {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.fact{
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
}
.fact .box {
    text-align: center;
    margin-top: 10px;
    border: 1px solid #FF900E;
    padding: 12px 10px;
    transition: 1s;
}
.fact .box h1 {
    margin: 0;
    font-family: 'work sans', sans-serif;
}
.fact .box img {
    width: 25%;
}
main > h1 {
    font-weight: 700;
    font-family: 'work sans', sans-serif;
    margin-left: 10px;
}
main > p {
    color: gray;
}
.fact .box p{
    color: gray;
}
.fact .box:hover{
    transform: scale(1.4);
    background: #FF900E;
    border: 1px solid white;
    color: white;
}
/* some fact sector end */
/* footer start */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.footer-1st-part {
    text-align: center;
    margin-bottom: 50px;
}
.footer-1st-part > h2 {
    font-family: 'work sans', sans-serif;
    font-weight: 700;

}
.footer-1st-part > p{
    color: gray;
    padding: 10px 0;
    
}
.footer-2nd-part {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}
.footer-3rd-part {
    text-align: center;
    background-color: #FF900E1A;;
}
.footer-2nd-part img{
    width: 10%;
    filter: grayscale(100%)
}
.footer-2nd-part img:hover {
    filter: none;}
/* footer end */
/* media query */
@media only screen and (max-width: 576px) {
    .nav {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0; 
        justify-content: space-around;
        align-items: center;
     }
    .nav .name {
        text-align: center;
    
    }
    .nav .menu ul li{
        
        padding-right: 5%;
    }
    .nav .name h1{
        padding-left: 0;
        color: #131313;
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
    }
    .header-container-1 button {
        width: 30vw;
        height: 9vh;
        background-color: #FF900E;
        color: white;
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 1.1em;
        border-radius: 8px;
        border: none;
        margin-top: 20px;
 
    }
    .first-section {
        flex-direction: column;
    }
    main {
        width: 100%;
    }
    .first-section .images {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        padding: 0;
        height: 100%;
        
    }
    .header-main-container img {
        width: 90%;
    }
    .first-section .images .image {
        position: ;
    }
    .writing button {
        width: 30%;
    }
    .main-2 main {
        flex-direction: column;
    }
    .main-2-second-section button{
        bottom: 1%;
        width: 70%;
        
        
    }
    .some-facts .fact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }
    .some-facts .fact .box{
        margin: 0 5px;
    }
    footer {
        margin-top: 30px;
    }
    .footer-2nd-part {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;
    }
    .footer-2nd-part img {
        width: 70%;
        margin: 10px;
        
    }
}